<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:unless="${#lists.isEmpty(jobopenings)}">
		<table>
			<thead>
				<tr>
					<th>Job ID</th>
					<th>position</th>
					<th>location</th>
					<th>start Date</th>
					<th>Pay Rate</th>
					<th>Job Description</th>
					<th>Hours Per Week</th>
					<th>End Date</th>
					<th>Company Name</th>
					<th>Proficiency</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jobopening : ${jobopenings}">
					<td th:text="${{jobopening.jobID}}">Job ID</td>
					<td th:text="${{jobopening.position}}">Position</td>
					<td th:text="${{jobopening.location}}">Location</td>
					<td th:text="${{jobopening.startDate}}">Start Date</td>
					<td th:text="${{jobopening.payrate}}">Pay Rate</td>
					<td th:text="${{jobopening.jobDescription}}">Job Description</td>
					<td th:text="${{jobopening.hoursPerWeek}}">Hours Per Week</td>
					<td th:text="${{jobopening.endDate}}">End Date</td>
					<td th:text="${{jobopening.companyName.companyName}}">Company
						Name</td>
					<td th:text="${{jobopening.proficiancy}}">Proficiency</td>
				</tr>
			</tbody>
		</table>
	</div>
	<form action="#" th:action="@{/browsejobopenings}"
		th:object="${sortJobOpening}" method="post">
		<label><b>Filter</b></label><br>
		<br> <label>Company</label>
		<div th:if="${companies != null and not #lists.isEmpty(companies)}">
			<select th:field="*{jobOpening.companyName.companyName}">
				<option th:value="0">Please Select</option>
				<option th:each="company:${companies}" th:value="${company}"
					th:text="${company}"></option>
			</select>
		</div>
		<label>Position</label>
		<div th:if="${positions != null and not #lists.isEmpty(positions)}">
			<select th:field="*{jobOpening.position}">
				<option th:value="0">Please Select</option>
				<option th:each="position:${positions}" th:value="${position}"
					th:text="${position}"></option>
			</select>
		</div>
		<label>Proficiency</label>
		<div
			th:if="${proficiencies != null and not #lists.isEmpty(proficiencies)}">
			<select th:field="*{jobOpening.proficiancy}">
				<option th:value="0">Please Select</option>
				<option th:each="proficiency:${proficiencies}"
					th:value="${proficiency}" th:text="${proficiency}"></option>
			</select>
		</div>
		<label>Location</label>
		<div th:if="${locations != null and not #lists.isEmpty(locations)}">
			<select th:field="*{jobOpening.location}">
				<option th:value="0">Please Select</option>
				<option th:each="location:${locations}" th:value="${location}"
					th:text="${location}"></option>
			</select>
		</div>
		<label>Hours Per Week</label>
		<div th:if="${workhours != null and not #lists.isEmpty(workhours)}">
			<select th:field="*{jobOpening.hoursPerWeek}">
				<option th:value="0">Please Select</option>
				<option th:each="workhour:${workhours}" th:value="${workhour}"
					th:text="${workhour}"></option>
			</select>
		</div>
		<button type="submit">Apply Filters</button>
	</form>
</body>
</html>