<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/creatingNewAccount}" th:object="${newUser}" method="post">
			<p th:if="${passwordError}" class="error">Passwords do not match!</p>
			<table>
				<tr> 
					<td>Royal ID</td>
					<td><input type="text" required="required" th:field="*{userName}" /></td>
				</tr>
				<tr> 
					<td>First Name</td>
					<td><input type="text" required="required" th:field="*{userName}" /></td>
				</tr>
				<tr> 
					<td>Last Name</td>
					<td><input type="text" required="required" th:field="*{userName}" /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" required="required" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" required="required" th:field="*{homeAddress}" /></td>
				</tr>
				<tr>
					<td>Phone Number</td>
					<td><input type="text" required="required" th:field="*{homeAddress}" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" required="required" th:field="*{password}" /></td>
				</tr>
			 	<tr>
					<td>Re-type Password</td>
					<td><input type="password" required="required" th:field="*{registrationPassword}" /></td>
				</tr>
				
				<tr><td>
					<h3>User Role?</h3>
					<ul>
						<li th:each="aType : ${userTypes}">
							<input type="checkbox" th:field="*{role}" th:value="${aType}" />
							<label th:for="${#ids.prev('role')}" th:text="${aType}">Type</label>
						</li>
					</ul>
				</td></tr>
				<tr>
					<td><button type="submit">Submit</button></td> 
				</tr>
			</table>
		</form>
</body>
</html>