<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Deletion</title>
</head>
<body>

<h2> Use this page to delete an account</h2>

<div th:if="${formSelection == 1}">
<form  th:action="@{/accountDeletion/formA}"
		th:object="${formA}" method="post">

<label> Enter the RID of the user you wish to delete</label>
<input type="text" name="RID" th:field="*{RID}" required>

<button type="submit">Delete</button>
</form>
</div>
<div>
 <p th:text= ${error}> </p>
</div>


<div th:if="${formSelection == 2}">

<table>
<tr>
<th style="bold"> Selected Account</th> 
</tr>
 <tr> </tr>
<tr> <th>First Name</th><td th:text="${user.firstName}"></td></tr>
<tr><th>Last Name</th><td th:text="${user.lastName}"></td> </tr>
<tr><th>Email</th><td th:text="${user.email}">}</td> </tr>
<tr><th>Address</th><td th:text="${user.userAddress}">}</td> </tr>
<tr><th>Phone Number</th><td th:text="${user.phoneNumber}">}</td> </tr>
</table>

<form  th:action="@{/accountDeletion/formB}" th:object="${choice}"
	   method="post">
<br>
<label> Are you sure you want to delete this account?</label>
<input type="radio" name="yes" value="YES" th:text="YES" th:field="*{selection}"/>
<input type="radio" name="no" value="NO" th:text="NO" th:field="*{selection}"/>
<button type="submit"> Confirm</button>

</form>

</div>
<div>
 <p th:text= ${success}> </p>
</div>
<a href="/">Home</a>
</body>
</html>