<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Browse Users</title>
</head>
<body>

<h2> Browse Users</h2>


<table class="">

	<tr align= "center"> 
 	<th>First Name </th>
 	<th>Last Name </th>
 	<th>Email </th>
 	<th> Address</th>
 	<th>Phone </th>
 	<th> Profile </th>
 	
	</tr>

	<tr th:each= "user: ${systemusers}" align="center"> 
	<td th:text="${user.firstName}"></td>
	<td th:text="${user.lastName}"></td>
	<td th:text="${user.email}">}</td>
	<td th:text="${user.userAddress}">}</td>
	<td th:text="${user.phoneNumber}">}</td>
	<td> view profile </td>
	</tr>

</table>

<form action="#" th:action="@{/browseUsers}"
		th:object="${filters}" method="post">
	<ul>
		<li><label> Filter by User Type</label>  </li>
		<li><input type="radio" value="student" th:field="*{userType}"> Current Student </li>
		<li><input type="radio" value="alumni" th:field="*{userType}"> Alumni </li>
		<li><input type="radio" value="All" th:field="*{userType}"> All Users </li>
	</ul>
	<ul>
		<li><label> Select skill criteria to filter by</label> </li>
		<li th:each="skill : ${skills}"><input type="checkbox"
			name="ski" th:value="${skill.skillID}" th:field="*{selectedSkills}" /> <label
			th:text="${skill.skillName}"></label></li>
	</ul>
	<button type="submit">Apply Filters</button>

</form>

</body>
</html>