<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Browse Users</title>
</head>
<body>

<h2> Browse Users</h2>


<table class="">

	<tr align= "center"> 
 	<th>First Name </th>
 	<th>Last Name </th>
 	<th>Email </th>
 	<th> Address</th>
 	<th>Phone </th>
 	<th> Profile </th>
 	
	</tr>

	<tr th:each= "user: ${systemusers}" align="center"> 
	<td th:text="${user.firstName}"></td>
	<td th:text="${user.lastName}"></td>
	<td th:text="${user.email}">}</td>
	<td th:text="${user.userAddress}">}</td>
	<td th:text="${user.phoneNumber}">}</td>
	<td> view profile </td>
	</tr>

</table>

<form action="">
	<ul>
		<li><label> Filter by User Type</label>  </li>
		<li><input type="radio" value="current_student"> current student </li>
		<li><input type="radio" value="alumni"> alumni </li>
	</ul>
	<ul>
		 <li><label> Filter by Criteria</label>  </li>
		<li><input type="checkbox"> Skill </li>
		
	</ul>
	<button type="submit">Apply Filters</button>

</form>

</body>
</html>