<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Homepage</title>
</head>
<body>
	<a sec:authorize="isAnonymous()" href="login">Login</a>
	<a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
	<a sec:authorize="isAuthenticated()" href="/browseUsers">Search For Students/Alumni</a>
	<a sec:authorize="isAuthenticated()" href="/manageAccount">Manage Account</a>
	<a sec:authorize="isAuthenticated()" href="/updateAccount">Update Account</a>
</body>
</html>