<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/registration}"
		th:object="${accountForm}" method="post">
		<p th:if="${passwordError}" class="error">Passwords do not match!</p>
		<table>
			<tr>
				<td>Royal ID</td>
				<td><input type="text" required="required"
					th:field="*{account.royalID}" /></td>
			</tr>
			<tr>
				<td>First Name</td>
				<td><input type="text" required="required"
					th:field="*{account.firstName}" /></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" required="required"
					th:field="*{account.lastName}" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" required="required"
					th:field="*{account.email}" /></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><input type="text" required="required"
					th:field="*{account.userAddress}" /></td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td><input type="text" required="required"
					th:field="*{account.phoneNumber}" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" required="required"
					th:field="*{password}" /></td>
			</tr>
			<tr>
				<td>Re-type Password</td>
				<td><input type="password" required="required"
					th:field="*{confirmPassword}" /></td>
			</tr>

			<tr>
				<td>
					<h3>User Roles</h3>
					<ul>
						<li th:each="aType : ${roles}"><input type="checkbox"
							th:field="*{account.roles}" th:value="${aType}" /> <label
							th:for="${#ids.prev('account.roles')}" th:text="${aType}"></label></li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<h3>Skills</h3>
					<ul>
						<li th:each="skill : ${skills}"><input type="checkbox"
							name="ski" th:value="${skill.skillID}" /> <label
							th:text="${skill.skillName}"></label></li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<button onclick="showJobHistory()">Click here to add your
						job</button>
				</td>
			</tr>
			<tr>

				<td>
					<div id="jobhistory" style="display: none">
						<ul>
							<li><input type="text"
								th:field="*{account.workExperience[0].companyName}" /> <label>
									Company Name</label></li>

							<li><input type="text"
								th:field="*{account.workExperience[0].position}" /> <label>
									Position</label></li>

							<li><input type="text"
								th:field="*{account.workExperience[0].startDate}" /> <label>
									Start Date</label></li>

							<li><input type="text"
								th:field="*{account.workExperience[0].endDate}" /> <label>
									End Date</label></li>

							<li><label> Currently Employed?</label> <input type="radio"
								value="true"
								th:field="*{account.workExperience[0].currentlyEmployed}" />Yes
								<br> <input type="radio" value="false"
								th:field="*{account.workExperience[0].currentlyEmployed}" /> No
								<br></li>
						</ul>
					</div>
				</td>
				<td>
					<div id="adding_CownerInp" class="col-md-12">
						<label for="coowner">Work-Experience</label>
					</div>
				</td>
				<td><input id="addButton_Cowner" type="button"
					value="Add Co-Owner"></input></td>

			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>

	<script>
		function showJobHistory() {
			var x = document.getElementById("jobhistory");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
			return false;
		}
	</script>
</body>
</html>